// body[data-page]
[data-page] header {
	background: $nav;
}
[data-page] nav,
[data-page] nav a {
	background: $bg;
}
[data-page] p.colophon {
	border-top: 2px solid $nav;
}
[data-page] pre code {
	background: none repeat scroll 0% 0% $code;
}


[data-page] h1,
[data-page] footer p,
[data-page] p.colophon,
[data-page] nav h2 a,
[data-page] pre code,
[data-page] code
{ color: $textC0 }

[data-page] h1.subtitle,
[data-page] nav .pages a
{ color: $textC1 }

[data-page] h1 a,
[data-page] h2 a,
[data-page] h3 a,
[data-page] h4 a,
[data-page] h5 a,
[data-page] h6 a,
{ color: $nav }
