// colors
$bg: $background0;
$nav: $base2;
$search: $background1;
$code: $background1;
$name: $base2;
$header-bg: $background1;
$header-nav-menu-bg: $background2;
$footer-bg: $background1;

// text
$textC0: $base1;
$textC1: $base2;
$textC2: $magenta;

// btn
$btn: $background1;
$btn-hover: $background2;

%btn {
    background-color: $btn;
    border-color: $btn;
    &:hover {
        background-color: $btn-hover;
        border-color: $btn-hover;
    }
}
